{% extends 'base.html' %}

{% load bootstrap5 %}
{% load crispy_forms_tags %}

{% block title %}Create transaction{% endblock title %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                {{ form.type|as_crispy_field }}
            </div>
            <div class="col">
                {{ form.category|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.amount|as_crispy_field }}
            </div>
            <div class="col">
                {{ form.currency|as_crispy_field }}
            </div>
        </div>
        {{ form.title|as_crispy_field }}
        {{ form.description|as_crispy_field }}
        
        {% buttons submit="Update" %}{% endbuttons %}
    </form>
    
{% endblock content %}
